.register-form {
  .MuiAutocomplete-root {
    width: 13rem;

    label {
      color: $form-technology-field-label-color;
    }

    input {
      color: $form-technology-field-label-color;
    }

    .MuiInput-underline {
      &::before {
        border-bottom: 1px solid $register-form-technology-input-color;
      }

      &::after {
        border-bottom: 3px solid $register-form-technology-input-focus-color;
      }
    }
  }

  .register-form-loading {
    .MuiCircularProgress-circle {
      // TODO change color
      stroke: $loading-users-animation;
    }
  }

  .register-form-submit {
    width: 6rem;
    margin-top: 2.5rem;

    text-transform: none;
    font-size: 1.1rem;

    background: $register-form-submit-color;
    color: $register-form-submit-text-color;

    &:hover {
      background: $register-form-submit-color-hover;
    }
  }
}
