$bg-color: #17191a;
$global-font-size: 15px;

// ----------------------- Media breakpoints -----------------------
$s-mobile: 320px;
$mobile: 426px;
$tablet: 768px;
$laptop: 1024px;
$screen: 1920px;
$l-screen: 2560px;
$xl-screen: 3840px;

// app main color pallete, note that some variables
// use other black/white tones as their values
$app-color-1: #9c53e6;
$app-color-2: #bf7eff;
$app-color-3: #d694fd;
$app-details: #ffffff;
$app-color-4: #747474;

// ----------------------- Landing -----------------------
$landing-text-color: $app-details;

$landing-button-color: $app-color-1;
$landing-button-text-color: $app-details;
$landing-button-hover-color: $app-color-2;
$landing-button-hover-text-color: $app-details;

// ----------------------- Options bar -----------------------
$options-bar-width: 4rem;
$options-bar-bg-color: #17191a;
$options-bar-slide-speed: 200ms;

$options-bar-register-h2: $app-details;

$register-link-button-color: $app-color-1;
$register-link-button-hover-color: $app-color-2;
$register-link-button-text-color: $app-details;

$cog-svg-color: $app-color-1;
$cog-svg-rotation-speed: 200ms;

$toggle-options-svg-color: $app-details;

$technology-input-color: $app-details;
$technology-input-placeholder-color: $app-details;
$technology-input-underline-color: $app-details;
$technology-input-underline-hover-color: $app-color-3;

$technology-selected-bg-color: $app-color-2;
$technology-selected-text-color: $app-details;

// ----------------------- Scrollbar -----------------------
$scrollbar-thumb-color: $app-color-1;
$scrollbar-track-color: #202324;

// ----------------------- Search -----------------------
$search-button-svg-color: #a172ff;
$search-button-color: #353535;

$search-input-color: $app-details;
$search-input-placeholder-color: $app-details;
$search-input-underline-color: #d8d8d8;
$search-input-underline-color-focus: $app-details;

// ----------------------- Users -----------------------
$user-bg-color: #202324;
$username-text-color: $app-details;
$user-gh-username-background-color: #1d1d1d;
$user-gh-username-text-color: $app-color-3;
$user-card-animation-speed: 500ms;
$user-card-grow-scale: 1.1;
$user-card-width: 16rem;
$user-card-boxshadow-color: #181818;

$loading-users-animation: $app-color-3;

// ----------------------- Footer -----------------------
$footer-bg-color: #131313;
$footer-gh-icon-color: $app-details;
$footer-content-color: $app-details;

// ----------------------- Not found -----------------------
$not-found-font-size: 3.2rem;
$not-found-color: $app-details;
$not-found-h1-color: $app-details;
$not-found-h2-color: $app-details;
$not-found-button-text-color: $app-details;
$not-found-button-color: $app-color-1;
$not-found-button-hover-color: $app-color-2;

// -----------------------  No users found -----------------------
$no-users-found-text-color: $app-details;

// ----------------------- Forms -----------------------
$form-input-underline-color: $app-color-1;
$form-input-underline-color-hover: $app-color-1;
$form-input-underline-color-focus: $app-color-2;

$form-field-comment-color: $app-color-4;
$form-technology-field-label-color: $app-color-4;
$form-field-error-text-color: #ff002f;

// ----------------------- Register -----------------------
$register-bg-color: $app-details;

$register-form-submit-color: $app-color-1;
$register-form-submit-text-color: $app-details;
$register-form-submit-color-hover: $app-color-2;
$register-form-technology-input-color: $app-color-4;
$register-form-technology-input-focus-color: $app-color-2;

// ----------------------- Back to app button -----------------------
$back-to-app-button-text-color: $app-details;
$back-to-app-button-color: $app-color-1;
$back-to-app-button-hover-color: $app-color-2;

// ----------------------- About -----------------------
$about-section-bg-color: $app-details;

// ----------------------- Load users button -----------------------
$load-users-button-color: $app-color-3;
