$bg-color: #17191a;
$global-font-size: 15px;

// ----------------------- Media breakpoints -----------------------
$s-mobile: 320px;
$mobile: 426px;
$tablet: 768px;
$laptop: 1024px;
$screen: 1920px;
$l-screen: 2560px;
$xl-screen: 3840px;

// ----------------------- Landing -----------------------

$landing-text-color: #ffffff;

$landing-button-color: #9c53e6;
$landing-button-text-color: #ffffff;
$landing-button-hover-color: #bf7eff;
$landing-button-hover-text-color: #ffffff;

// ----------------------- Options bar -----------------------
$options-bar-width: 4rem;
$options-bar-bg-color: #17191a;
$options-bar-slide-speed: 200ms;

$register-link-button-color: #9c53e6;
$register-link-button-hover-color: #bf7eff;
$register-link-button-text-color: #ffffff;

$cog-svg-color: #9c53e6;
$cog-svg-rotation-speed: 200ms;

$toggle-options-svg-color: #ffffff;

$technology-input-color: #ffffff;
$technology-input-placeholder-color: #ffffff;
$technology-input-underline-color: #ffffff;
$technology-input-underline-hover-color: #d694fd;

$technology-selected-bg-color: #9c53e6;;
$technology-selected-text-color: #ffffff;

// ----------------------- Scrollbar -----------------------
$scrollbar-thumb-color: #b691ff;
$scrollbar-track-color: #101010;

// ----------------------- Search -----------------------
$search-button-svg-color: #a172ff;;
$search-button-color: #353535;

$search-input-color: #ffffff;
$search-input-placeholder-color: #ffffff;
$search-input-underline-color: #d8d8d8;
$search-input-underline-color-focus: #ffffff;

// ----------------------- Users -----------------------
$user-bg-color: #202324;
$username-text-color: #ffffff;
$user-gh-username-background-color: #1d1d1d;
$user-gh-username-text-color: #d694fd;
$user-grow-speed: 100ms;
$user-grow-scale: 1.09;
$user-card-width: 16rem;

$user-card-boxshadow-color: #181818;

// ----------------------- Footer -----------------------
$footer-bg-color: #131313;
$footer-gh-icon-color: #ffffff;
$footer-content-color: #ffffff;

// ----------------------- Not found -----------------------
$not-found-font-size: 4rem;
$not-found-color: #ffffff;
$not-found-button-text-color: #ffffff;
$not-found-button-color: #9c53e6;
$not-found-button-hover-color: #da90ff;

// Register


// About
$about-section-bg-color: #ffffff;
$about-button-text-color: rgb(255, 255, 255);
$about-button-color: #9c53e6;
$about-button-hover-color: #da90ff;
