#app {
  margin-left: $options-bar-width;
  position: relative;

  #users {
    @include flex;
    padding-bottom: 13rem;

    .MuiCircularProgress-circle {
      stroke: $loading-users-animation;
    }

    @media (max-width: $tablet) {
      padding-bottom: 40rem;
    }
  }
} // main
