#register {
  padding-bottom: 18rem;
  min-height: 100vh;
  position: relative;

  .register-content {
    margin: auto;
    width: 50%;
    min-height: 80vh;
    padding: 2.5rem;
    border-radius: 1rem;
    background-color: $app-details;

    @media (max-width: $tablet) {
      margin-bottom: 25rem;
      width: 90%;
    }
  }
}
