footer {
  @include flex;

  padding: 2rem 0;
  position: absolute;
  width: 100%;
  bottom: 0;

  background-color: $footer-bg-color;

  .footer-section {
    margin: auto;
    text-align: center;
    color: $footer-content-color;

    a {
      color: inherit;
    }

    .footer-app-logo {

      @media (max-width: $s-mobile) {
        width: 15rem;
      }
    }

    .footer-repo-link {
      text-decoration: none;
    }

    .footer-gh-icon {
      margin-top: 0.2rem;
      fill: $footer-gh-icon-color;
    }

    @media (max-width: $tablet) {
      padding: 1.5rem 0;
    }
  }

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}
