#search {
  @include flex;
  padding-bottom: 3rem;

  .MuiInput-underline {
    &::before {
      border-bottom: 1px solid $search-input-underline-color;
    }

    &::after {
      border-bottom: 2px solid $search-input-underline-color-focus;
    }
  }

  input {
    @include width-height(20rem, 3rem);

    border-radius: 2rem;

    color: $search-input-color;
    font-size: 1.15rem;
    padding-left: 1rem;

    &::placeholder {
      opacity: 0.7;
      color: $search-input-placeholder-color;
    }

    @media (max-width: $mobile) {
      @include width-height(15rem, 3rem);
      font-size: 0.95rem;
    }
  }

  .search-button {
    background-color: $search-button-color;

    @include width-height(3rem);
      min-width: 1rem;

      margin-left: 0.6rem;
      border-radius: 50%;

    svg {
      color: $search-button-svg-color;
    }

    @media (max-width: $s-mobile) {
      margin-top: 1rem;
    }
  }

  @media (max-width: $mobile) {
    padding-bottom: 1.3rem;
  }
}
