.user-card {
  width: $user-card-width;
  background-color: transparent;
  position: relative;
  margin: 2rem;

  .card-wrapper {
    transition: transform $user-card-animation-speed;
    transform-style: preserve-3d;

    .face {
      @include width-height(100%);
      background-color: $user-bg-color;

      box-shadow: 3px 4px 10px $user-card-boxshadow-color;
      border-radius: 3rem;
      text-align: center;
      backface-visibility: hidden;
    }

    .user-name {
      color: $username-text-color;
      font-size: 1.5rem;
      word-wrap: break-word;

      @media (max-width: $mobile) {
        font-size: 1.3rem;
      }
    }

    .front {
      position: relative;

      .arrow-svg {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
      }

      .gh-profile-pic {
        width: 10rem;
        border-radius: 50%;
        margin: 1.75rem 0 0.5rem 0;

        @media (max-width: $mobile) {
          width: 7rem;
        }
      }

      .user-stack {
        @include flex;
        padding: 1rem 0;

        .user-technology {
          min-width: 6rem;

          padding: 0.3rem 0.6rem;
          margin: 0.35rem;

          word-wrap: break-word;
          border-radius: 2.1rem;
        }
      }

      .gh-profile {
        padding-bottom: 1rem;

        a {
          text-decoration: none;
          font-size: 1.3rem;

          word-wrap: break-word;

          background-color: $user-gh-username-background-color;
          color: $user-gh-username-text-color;

          padding: 0.2rem 0.4rem;
          border-radius: 0.5rem;

          &::before {
            content: "@";
          }

          @media (max-width: $mobile) {
            font-size: 1.1rem;
          }
        }
      }
    } // Card front

    .back {
      transform: rotateY(180deg);
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem;
      // TODO customize colors and use colors from _variables.scss
      color: #ffffff;
      display: inline-block;

      .user-about {
        word-wrap: break-word;
      }

      .user-age {
        font-size: 1.2rem;
      }

      .user-about {
        padding-top: 1rem;
      }

      .user-join-date {
        // TODO align this to the bottom of the card
        word-break: none;
        word-wrap: break-word;
      }
    } // Card back
  } // Card wrapper
} // User card

.flipped {
  .card-wrapper {
    transform: scale($user-card-grow-scale) rotateY(180deg);
  }
}
